.obs_box label {
    display: flex;
    padding: .6em;
    font-size: .8em;
    font-weight: bold;
}

textarea {
    width: 32.2rem;
    height: 50px;
    border: 1px solid #44434663;
    margin-left: .5em;
    border-radius: 4px;
}

textarea:focus-visible {
    outline: 1px solid #44434663;
}

.form_btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

/* @media screen and (max-width: 740px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .input_group {
        display: flex;
        flex-direction: column;

    }
} */