.form-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}

h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
} 

@media screen and (max-width: 768px) {
    .textarea{
        width: 250px;
    }
}  
