.form_box{
    padding: 5px;
    float: left;
}

label{
    margin-bottom: 0.6em;
    font-size: .8em;
    font-weight: bold;
}

textarea{
    width: 32rem;
    height: 50px;
    border: 2px solid #44434663;
    margin: 5px;
}

textarea:focus-visible{
    outline: 1px solid  #44434663;
}
