.form{
    display: flex;
    justify-content: center;
    margin: 8em 0em 0em 35em;
}

.form_box {
    padding: 25px;
    flex-wrap: wrap;
}

.obs_box {
    display: block;
}

.obs_box label{
    padding: .5em;
    font-size: .8em;
    font-weight: bold;
}

textarea {
    width: 32.2rem;
    height: 50px;
    border: 1px solid #44434663;
    margin-left: .5em;
    border-radius: 4px;
}

textarea:focus-visible {
    outline: 1px solid #44434663;
}

button {
    position: absolute;
    top: 80em;
}


