.table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 65px;
    width: 100%;
    height: 100%;
}

.table-container h4 {
    text-align: center;
    font-size: 22px;
}

table {
    display: flex;
    flex-direction: column;
    width: 1300px;
}

thead {
    display: flex;
    justify-content: center;
    border: 1px solid #CCCCCC;
    align-items: center;
    border-radius: 6px 0px 0 0;
}

th {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(179, 176, 176, 0.089);
    border-bottom: 2px solid rgb(143, 138, 138);
    width: 100%;
}
.input-column {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    justify-content: center;
    border: 1px solid #CCCCCC;
    align-items: center;
}

td{
    display: flex;
    justify-content: center;
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgba(108, 148, 118, 0.26);
}

tr:nth-child(odd) {
    background-color: rgba(179, 176, 176, 0.089);
}

.search-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.search-itens input {
    padding: .3em;
    border: 1px solid  #44434663;
    border-radius: 4px;
    background-color: transparent;
}

input:focus-visible{
    outline: 1px solid  #44434663;
}

select {
    border: 1px solid  #44434663;
    border-radius: 4px;
}

select:focus-visible{
    outline: 1px solid  #44434663;
}

.search-itens label {
    font-size: 15px;
}

.search-itens select {
    margin-left: 5px;
}

.search-icon {
    margin-right: -20px;
    color: #444346bd;
    cursor: pointer;
}

.bloc-tabs {
    display: flex;
    justify-content: end;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(179, 176, 176, 0.089);
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    margin-top: 20px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.content {
    display: none;
}

.show-content {
    display: block;
}
