table { 
    margin-top: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

td {  
    border-top: 1px solid #CCCCCC;
}

@media screen and (max-width: 768px) {
    table{
        overflow-x: scroll;
    }
}