.input_rel {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 100px;
}

.input_rel input {
    width: max-content;
}

.icons {
    font-size: 160px;
}

@media screen and (max-width: 768px) {
    .input_rel {
        margin-left: 40px;
    }  
}
