.card-container {
    width: 250px;
    height: 210px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    margin: 15px;
    padding: 5px;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #CCCCCC;
    padding: 5px;
}

.card-title span {
    margin-left: 8px;
    font-weight: 600;
}

.card-content {
    padding: 10px;
}

.card-content p{
    padding: 5px;
}