.navbar{
    background-color: rgb(65, 63, 63);
    padding: 0.2em;
}

img{
    width: 140px;
}

h4{
    display: flex;
    position: absolute;
    top: 20px;
    transform: translateX(72%);  
    color: rgb(211, 205, 205);  
}

.btn_expand{
    width: 100%;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 20px;
    color: rgb(211, 205, 205); 
}

.btn_expand:hover{
    color: rgb(253, 253, 253);
}

.nav_menu{
    width: 50px;
    height: 100%;
    display: flex;
    background-color: rgba(155, 196, 177);
    padding: 40px 0 40px;
    position: absolute;
    border-right: 1px solid rgb(65, 63, 63);
    box-shadow: 0 0 12px rgb(65, 63, 63);
    overflow: hidden;
    transition: 0.5s;
}

.nav_menu.active{
    width: 225px;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li{
    transition: 0.2s;
}

ul li:hover{
    width: 223px;
    font-weight: bold;
    background: rgba(205, 126, 108, 0.692);
}

ul li.active{
    width: 223px;
    background: rgba(205, 126, 108, 0.692);
    font-weight: bold;
}

ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    margin-left: 1px;
    display: flex;
}

.item_menu{
    font-size: 18px;
}

span{
    margin-left: 15px;
}

.box_cad{
    margin-left: 29px;
    font-size: 16px;
}

#logout{
    position: absolute;
    bottom: 50px
}
