.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(65, 63, 63);
}

img{
    width: 125px;
}

h5{
    padding-top: 6px;
    padding-left: 20px;
    color: rgb(211, 205, 205);  
}

.btn_expand{
    display: flex;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 20px;
    color: rgb(211, 205, 205); 
}

.btn_expand:hover{
    color: rgb(253, 253, 253);
}

/*sidebar*/
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 45px;
  left: 0;
  background-color: rgba(155, 196, 177);
  box-shadow: 0 0 12px rgb(65, 63, 63);
  transition: all 0.7s ease;
  border-radius: .20rem;
}

.sidebar.close {
  width: 60px;
  overflow: hidden;
}
