.sidebar-link {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: -1px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    width: 232px;
    height: 50px; 
}

.sidebar-link:hover {
    background-color: rgba(205, 126, 108, 0.692);
    transition: all 0.4s ease;
}

.sidebar.close .sidebar-link:hover{
    background-color: transparent;
}

.sidebar-list {
    padding: 10px 5px 2px 10px;
    list-style: none;
}

.sidebar-label {
    margin-left: 25px;
}

.dropdown-link {
    height: 45px;
    width: 232px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 4px;
}

.dropdown-link:hover{
    background-color: rgba(205, 126, 108, 0.692);
}

.sidebar.close .dropdown-link {
    padding-left: 10px;
}

.sidebar.close .dropdown-link:hover{
    background-color: transparent;
}

@media screen and (max-width: 740px) {
    
}

@media screen and (max-width: 1180px) {
    .sidebar-link:hover{
        background-color: transparent;
    }
    .dropdown-link {
        padding-left: 10px;
    }
    .dropdown-link:hover{
        background-color: transparent;
    }
}