.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(65, 63, 63);
    z-index: 1000;
}

img {
    width: 35px;
    margin-left: 30px;
}

h5 {
    margin-left: 22px;
    color: rgb(211, 205, 205);
    font-size: 15px;
}

.content {
    padding: 24px;
    background: white;

}

.trigger {
    font-size: 19px;
    cursor: pointer;
    margin-left: 10px;
    color: whitesmoke;
}
  
.sidebar-menu {
    font-size: 16px;
    margin-top: 100px;
    width: 230px;
}

@media screen and (max-width: 768px) {
    .trigger {
        display: none;
    }
    img {
        margin-left: 2px;
    }
}