img{
    width: 48px;
    margin-top: 20px;
    margin-left: 20px;
}

h5 {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
}

.layout-ant {
    background: rgba(156, 154, 154, 0.144);
}

.user-style {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    color: #fde3cf;
}

h3 {
    margin-top: 10px;
    color: white;
    z-index: 50;
}
  
.sidebar-menu {
    font-size: 14px;
    margin-top: 25px;
    background-color: rgb(55, 119, 87);
    color: whitesmoke;
}

@media screen and (max-width: 768px) {
    img {
        margin-left: 2px;
    }
}