.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
}

/* .sidebar.close {
    width: 60px;
    overflow: hidden;
} */

.sidebar-menu {
    font-size: 16px;
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
 
  
}

.ant-menu-item-selected {
    color: black;
    background-color: rgba(108, 148, 118, 0.466) !important;
  }