.sidebar-link {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 15px;
    text-decoration: none;
    font-size: 19px;
    cursor: pointer;
    width: 250px;
    height: 55px; 
}

.sidebar-link:hover {
    background-color: rgba(203, 114, 92, 0.521);
    transition: all 0.4s ease;
}

.sidebar.close .sidebar-link:hover{
    background-color: transparent;
}

.sidebar-label {
    margin-left: 25px;
}

.dropdown-link {
    height: 45px;
    width: 250px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.dropdown-link:hover{
    background-color: rgba(203, 114, 92, 0.521);
}

.openClose-icon {
    color: rgb(122, 121, 121);
}

.sidebar.close .dropdown-link {
    padding-left: 17px;
}

.sidebar.close .dropdown-link:hover{
    background-color: transparent;
}

.sidebar.close .openClose-icon {
    margin-right: 200px;
}

.sidebar.close .sidebar-label {
    display: none;
}

@media screen and (max-width: 740px) {   
    .sidebar-link{
        padding-left: 5px;
    }
    .dropdown-link{
        margin-left: -4px;
    }
    .openClose-icon {
        margin-right: 200px;
    }
    .sidebar-label {
        display: none;
    }
}

@media screen and (max-width: 1180px) {
    .sidebar-link:hover{
        background-color: transparent;
    }
    .dropdown-link {
        padding-left: 10px;
    }
    .dropdown-link:hover{
        background-color: transparent;
    }
    .openClose-icon {
        margin-right: 200px;
    }
    .sidebar-label {
        display: none;
    }
}