.tabBar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 55px;
    position: fixed;  
    left: 0;
    bottom: 0;
    background-color: rgba(155, 196, 177);
    box-shadow: 0 0 12px rgb(65, 63, 63);
}

.tabBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tabBar-link {
    display: flex;
    padding: 0 15px 0px 15px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.tabBar-list {
    display: flex;
    list-style: none;
}

.tabBar-label {
    display: flex;
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    float: left;
}

.dropdown-container:hover{
    background-color: transparent;
}
