.btn{
    display: flex;
    background-color: rgb(108, 148, 118);
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin: .5em;
    width: 140px;
    height: 35px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border-color: rgb(108, 148, 118);
    border-radius: 5px;
}

.btn:hover{
    background-color: rgba(108, 148, 118, 0.863);
}
