.btn{
    display: flex;
    background-color: rgb(95, 150, 127);
    color: whitesmoke;
    margin: .5em;
    padding: .7em 3em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.btn:hover{
    background-color: rgba(95, 150, 127, 0.863);
}
