.container{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 25em;
}

p{
    font-size: 22px;
    position: absolute;
    top: 3em;
    font-weight: bold;
    color: black;
}