.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.form {
    margin-top: 50px;
    height: 500px;
    padding: 40px;
}

.form h4 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.input_group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.obs_box label {
    display: flex;
    padding: .6em;
    font-size: .8em;
    font-weight: bold;
}

textarea {
    width: 32.2rem;
    height: 50px;
    border: 1px solid #44434663;
    margin-left: .5em;
    border-radius: 4px;
}

textarea:focus-visible {
    outline: 1px solid #44434663;
}

.form_btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

@media screen {
    
}