.inputs{
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
}

.inputs label{
    font-size: 13px;
    margin-right: 10px;
}

.inputs textarea {
    width: 350px;
}