.forms{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 250px;
}

.forms label{
    margin-bottom: 0.6em;
    font-size: .8em;
    font-weight: bold;
}

.forms input{
    padding: .4em;
    border: 2px solid  #44434663;;
}

.forms input::placeholder{
    color: #7b7b77;
}