.inputs{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 260px;
}

.inputs label{
    margin-bottom: 0.6em;
    font-size: .8em;
    font-weight: bold;
}

.inputs input{
    padding: .4em;
    border: 1px solid  #44434663;
    border-radius: 4px;
}

.inputs input::placeholder{
    color: #7b7b77;
}

.inputs input:focus-visible{
    outline: 1px solid  #44434663;
}