.selects{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 260px;
}

.selects label{
    margin-bottom: 0.6em;
    font-size: .8em;
    font-weight: bold;
}

.selects select{
    padding: .4em;
    border: 1px solid  #44434663;
    border-radius: 4px;
}

.selects select:focus-visible{
    outline: 1px solid  #44434663;
}