.selects{
    display: flex;
    flex-direction: column;
    padding: 7px 15px 0px 0px;
    width: 230px;
}

.selects label{
    margin-bottom: 0.6em;
    font-size: .8em;
}

.selects select{
    padding: .3em;
    border: 1px solid  #44434663;
    border-radius: 4px;
}

.selects select:focus-visible{
    outline: 1px solid  #44434663;
}