.selects{
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
}

.selects label{
    font-size: 13px;
    margin-right: 10px;
}

.add_button {
 font-size: 13px;
 cursor: pointer;
 color: #44434663;
}

.add_button:hover {
    color: #00a86b
}

.add_option {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
